<!-- Footer here -->
 

<footer class=" bg-gray-5- ">
    <div class="mx-auto flex justify-between max-w-md py-2 px-4 overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-full lg:px-8">

      <p class=" text-center text-base text-gray-800" >
        &copy; <span  x-data="{date: new Date}"
        x-text="date.getFullYear()"></span> Copyright Tan Refrigeration Service. All rights reserved

      </p>
      <p class="text-center text-sm text-gray-800" >
        Website by <a href="https://www.antwebstudio.com/" class="hover:text-red-900">Ant Web studio</a>
      </p>
    </div>
  </footer>
<!-- <div id="WAButton"></div> -->

<script src="./js/scripts.js"></script>

<!-- Demo Purpose -->


<!--Jquery-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
<!--Floating WhatsApp css-->
<!-- <link rel="stylesheet" href="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.css"> -->
<!--Floating WhatsApp javascript-->
<!-- <script type="text/javascript" src="https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/floating-wpp.min.js"></script> -->
